<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigate Subscription</title>
</head>
<body>
    <h1>Choose a Subscription</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="button_value" value="Basic">Basic</button>
        <button type="submit" name="button_value" value="Prof">Professional</button>
        <button type="submit" name="button_value" value="Real">Realtor</button>
    </form>
</body>
</html>